<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="mx-auto box">
                <!-- left side div -->
                <div class="main_header_left align-items-center about_right">
                    <figure>
                        <img src="images/404.png" alt="Tanmoy" class="img-fluid errimg" title="Tanmoy Das">
                    </figure>
                
                    <p>Welcome to Tanmoy's World</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
                <!-- right side div -->
                
            </div>
        </div>
    </div>
    
    <!-- footer code -->
    {{>footer}}
    
</body>

</html>