<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="mx-auto box">
                <!-- left side div -->
                <div class="main_header_right align-items-center about_right">
                    <figure>
                        <img src="images/about.png" alt="Tanmoy" class="img-fluid" title="Tanmoy Das">
                    </figure>
                </div>
                <div class="main_header_left about_left">
                    <p>Welcome to My World!</p>
                    <h1>I am a <span class="text_clr"> Web Developer </span> Engineer</h1>
                    <a href="https://tanmoy-personal-portfolio.000webhostapp.com/"><button>About Me</button></a>
                </div>
                <!-- right side div -->
                
            </div>
        </div>
    </div>
    
    <!-- footer code -->
    {{>footer}}
    
</body>

</html>